// entry-content

.page-template-default 
        {
        color: orange;
        background-color: green
    }

    p {
        color: black;
        font-family: 'SF UI Text', sans-serif;
        background-color: red;
    }

    body {
        color: blue;
    }
